= render "header"

.product_main
  =image_tag("IMG_7227_10326.jpg",class: "product_main__image")
  =image_tag("hawaiiGOPR0087.jpg",class: "product_main__image")
  =image_tag("IMG_7227_10326.jpg",class: "product_main__image")
  =image_tag("sopukurumaIMG_3112.jpg",class: "product_main__image")

.desc-wrapper
  %h1.desc-wrapper__title 新しい体験を始めよう
  -# %nav.nav-boxes
  -#   =link_to category_path(Category.find(1)) do
  -#     .nav-boxes__box
  -#       =image_tag("Yamasha181026039.jpg",class: "nav-boxes__box--image")
  -#       .nav-boxes__box--text
  -#         =Category.find(1).name
  -#   =link_to category_path(Category.find(2)) do
  -#     .nav-boxes__box
  -#       =image_tag("IS107104807.jpg",class:"nav-boxes__box--image")
  -#       .nav-boxes__box--text
  -#         =Category.find(2).name
  -#   =link_to category_path(Category.find(3)) do
  -#     .nav-boxes__box
  -#       =image_tag("hawaiiGOPR0087.jpg",class:"nav-boxes__box--image")
  -#       .nav-boxes__box--text
  -#         =Category.find(3).name
  -#   =link_to category_path(Category.find(4)) do
  -#     .nav-boxes__box
  -#       =image_tag("PAK65_torinosubottlenarabu20130825.jpg",class:"nav-boxes__box--image")
  -#       .nav-boxes__box--text
  -#         =Category.find(4).name
  %h1.desc-wrapper__recommendations
    あなたへのおすすめ 
  .desc-wrapper__prefectures
  -#   .desc-wrapper__prefectures__box
  -#     -if Address.where(Prefecture_id: 13).first.present?
  -#       =link_to address_path(Address.where(Prefecture_id: 13).first.id) do
  -#         =image_tag("DSCF5767.jpg",class: "desc-wrapper__prefectures__box--image")
  -#     -else
  -#       =image_tag("DSCF5767.jpg",class: "desc-wrapper__prefectures__box--image")
  -#   .desc-wrapper__prefectures__box
  -#     -if Address.where(Prefecture_id: 47).first.present?
  -#       =link_to address_path(Address.where(Prefecture_id: 47).first.id) do
  -#         =image_tag("sopukurumaIMG_3112.jpg",class: "desc-wrapper__prefectures__box--image")
  -#     -else
  -#       =image_tag("sopukurumaIMG_3112.jpg",class: "desc-wrapper__prefectures__box--image")
  -#   .desc-wrapper__prefectures__box
  -#     -if Address.where(Prefecture_id: 14).first.present?
  -#       =link_to address_path(Address.where(Prefecture_id: 14).first.id) do
  -#         =image_tag("tokyoIMGL3154.jpg",class: "desc-wrapper__prefectures__box--image")
  -#     -else
  -#       =image_tag("tokyoIMGL3154.jpg",class: "desc-wrapper__prefectures__box--image")
  -#   .desc-wrapper__prefectures__box
  -#     =image_tag("IMG_7227_10326.jpg",class: "desc-wrapper__prefectures__box--image")
  -# %h1.desc-wrapper__recommendations__experience 
  -#   PICK UP 
  -# .desc-wrapper__experiences
  -# -if @products.present?
  -#   -@products.each do |product|

  -#     .desc-wrapper__experiences__box
  -#       =link_to product_path(product.id),class:"link_product" do
  -#         =image_tag("#{product.product_images[0].image}",class: "desc-wrapper__experiences__box--image") 
  -#         .desc-wrapper__experiences__box__text
  -#           .desc-wrapper__experiences__box__text--name
  -#             =product.name
  -#           .desc-wrapper__experiences__box__text--price
  -#             ￥#{product.price}/人
  %h1.desc-wrapper__recommendations__experience 
    PICK UP 
  .desc-wrapper__experiences
  -if @products.present?
    -@products.each do |product|
      .desc-wrapper__experiences__box
        =link_to product_path(product.id),class:"link_product" do
          =image_tag("#{product.product_images[0].image}",class: "desc-wrapper__experiences__box--image") 
          .desc-wrapper__experiences__box__text
            .desc-wrapper__experiences__box__text--name
              =product.name
            .desc-wrapper__experiences__box__text--price
              ￥#{product.price}/人
      .desc-wrapper__experiences__box
        =image_tag("",class: "desc-wrapper__experiences--image")
        .desc-wrapper__experiences__box--text
      .desc-wrapper__experiences__box
        =image_tag("",class: "desc-wrapper__experiences--image")
        .desc-wrapper__experiences__box--text
      .desc-wrapper__experiences__box
        =image_tag("",class: "desc-wrapper__experiences--image")
        .desc-wrapper__experiences__box--text



